{% extends "base.html" %}


{% block script %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" 
        src="{{ url_for('static', filename= 'js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" 
        src= "{{ url_for('static', filename='js/jquery.gomap-1.3.3.min.js')}}"></script>
<script>
function val() {
	d = document.getElementById("select_id").value;
	window.location.assign("http://localhost:5000/"+d);
}
	
$(document).ready(function(){
	countclick=0;
		$('#map').goMap({
					latitude: -39.8253,
					longitude: -73.2378,
					zoom:13,
					markers:[
							{% for e in entries %}
								{
							       	latitude: {{ e.latitud }},
							       	longitude: {{ e.longitud }},
							       	title: '{{e.id}}',
							       	html:{
							       		content: 'Categoria:{{e.user}}, Descripcion: {{e.description}}',
							       		popup:false
							       	}
						     	},
					   		{% endfor %}	
					   	],
					   	addMarker:true,
					   	disableScroll:true,
						disableDoubleClickZoom:true,
				});
        		$("#map").click(function(){
        			if(countclick>0){
		    			s=$.goMap.getMarkers()[{{entries|length+1}}].indexOf(',');
		    			k=$.goMap.getMarkers()[{{entries|length+1}}];
		    			document.formulario.latitud.value = k.substring(0,s);
		    			document.formulario.longitud.value = k.substring(s+1);
		    			alert($.goMap.getMarkers());
		    		}else{
		    			s=$.goMap.getMarkers()[{{entries|length}}].indexOf(',');
		    			k=$.goMap.getMarkers()[{{entries|length}}];
		    			document.formulario.latitud.value = k.substring(0,s);
		    			document.formulario.longitud.value = k.substring(s+1);
		    			alert($.goMap.getMarkers());
		    		}
	    			if(countclick>0){
	    				$.goMap.removeMarker($.goMap.markers[{{entries|length}}]);
	    			}
	    			countclick++;
				});

        		
			});

    </script>
{% endblock script %}

{% block style%}
<style type="text/css">
	.imgesquina  {
position: fixed;
right: 0;
bottom: 0;
display: block;
height: tu_valor;
width: tu_valor;
background: url({{url_for('static', filename='bootstrap/background2.jpg')}}) bottom right no-repeat;
}
    body {
        padding-top: 50px;
        background-repeat: no-repeat;
    	background-attachment: fixed;
        }
    #map {
      width:900px; 
      height:500px;
      margin: auto;
    } 
    #table{
    	height: auto;
    	width: auto;
    	margin: auto;
    }
</style>
{% endblock style %}

{% block select %}
	<center><select align="center" class="form-control" id="select_id" onchange="val()"  style="width:500px;">
	<option>Todos</option>
	{% for user in users %}
	  <option value="{{user.user}}">{{user.user}}</option>
	{% endfor %}
	</select></center>
{% endblock select %}

{% block content%}

 <table class="table table-striped" id="table">
	 <thead >
	 	<tr >
	 		<td>id</td>
		    <td>descripcion</td>
		    <td>categoria</td>
		    <td>latitud</td>
		    <td>longitud</td>
	  	</tr>
	 </thead>
	 <tbody>
	 {% for entry in entries %}
	 <tr >
	    <td>{{ entry.id}}</td>
	    <td>{{ entry.description }}</td>
	    <td>{{ entry.user}}</td>
	    <td>{{ entry.latitud}}</td>
	    <td>{{ entry.longitud}}</td>
	  </tr>
	  {% endfor %}
	  </tbody>
</table> 
{% endblock content%}
