{% extends "base.html" %}


{% block script %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" 
        src="{{ url_for('static', filename= 'js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" 
        src= "{{ url_for('static', filename='js/jquery.gomap-1.3.3.min.js')}}"></script>
<script>
console.log("script");
	
$(document).ready(function(){
	/*$("#map").goMap({latitude: -39.8253,
					longitude: -73.2378,
					zoom:13,});*/
	console.log("ready");
			$.ajax({
				dataType:"json",
			  	url: "{{ url_for('static', filename= 'php/base.php') }}",
			}).done(function(data) {
				console.log("data");
				$('#map').goMap({
					latitude: -39.8253,
					longitude: -73.2378,
					zoom:13,
					markers:[{
							latitude:data[0][2], 
							longitude:data[0][1],
							
					   	},{
							latitude:data[1][2], 
							longitude:data[1][1],
							
					   	},{
							latitude:data[2][2], 
							longitude:data[2][1],
							
					   	},{
							latitude:data[3][2], 
							longitude:data[3][1],
							
					   	},{
							latitude:data[4][2], 
							longitude:data[4][1],
							
					   	}]
				});
			});console.log("ready");
        });
/*
        $(document).ready(function(){
        	$.ajax({
				dataType:"json",
			  	url: "{{ url_for('static', filename= 'php/base.php') }}",
			}).done(function(data) {
        	$('#map').goMap({
        			maptype:'ROADMAP',
					latitude: -39.8253,
					longitude: -73.2378,
					zoom:13,
					markers:[{
							latitude:data[0][2], 
							longitude:data[0][1],
							
					   	},{
							latitude:data[1][2], 
							longitude:data[1][1],
							
					   	},{
							latitude:data[2][2], 
							longitude:data[2][1],
							
					   	},{
							latitude:data[3][2], 
							longitude:data[3][1],
							
					   	},{
							latitude:data[4][2], 
							longitude:data[4][1],
							
					   	}],
					addMarker:true,
					disableDoubleClickZoom:true,
			});
        	$('#map').click(function(){
        		alert($.goMap.getMarkersCount());

        	});
        });
      });*/
    </script>
{% endblock script %}

{% block style%}
<style type="text/css">
    body {
        padding-top: 50px;
        }
    #map {
      width:900px; 
      height:600px;
      margin: auto;
    } 
    #table{
    	height: auto;
    	width: auto;
    	margin: auto;
    }
</style>
{% endblock style%}

{% block content%}
 <table class="table table-striped" id="table">
	 <thead >
	 	<tr >
		    <td>id</td>
		    <td>latitud</td>
		    <td>longitud</td>
		    <td>descripcion</td>
		    <td>user</td>
	  	</tr>
	 </thead>
	 <tbody>
	 {% for entry in entries %}
	  <tr >
	    <td>{{ entry.id }}</td>
	    <td>{{ entry.latitud }}</td>
	    <td>{{ entry.longitud }}</td>
	    <td>{{ entry.description }}</td>
	    <td>{{ entry.user}}</td>
	  </tr>
	  {% endfor %}
	  </tbody>
</table> 
{% endblock content%}
